In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_excel('C:/Users/shubham.chhetri/Desktop/MYPROJECT/Python/CART.xlsx')

In [3]:
data

    RID          age  income student credit_rating buys_computer
0     1        youth    high      no          fair            no
1     2        youth    high      no     excellent            no
2     3  middle_aged    high      no          fair           yes
3     4       senior  medium      no          fair           yes
4     5       senior     low     yes          fair           yes
5     6       senior     low     yes     excellent            no
6     7  middle_aged     low     yes     excellent           yes
7     8        youth  medium      no          fair            no
8     9        youth     low     yes          fair           yes
9    10       senior  medium     yes          fair           yes
10   11        youth  medium     yes     excellent           yes
11   12  middle_aged  medium      no     excellent           yes
12   13  middle_aged    high     yes          fair           yes
13   14       senior  medium      no     excellent            no

Data Encoding

In [4]:
import sklearn
from sklearn.preprocessing import LabelEncoder

In [5]:
le_age=LabelEncoder()
le_income=LabelEncoder()
le_student=LabelEncoder()
le_credit_rating=LabelEncoder()
le_buys_computer=LabelEncoder()

In [6]:
data['age_n']=le_age.fit_transform(data['age'])
data['income_n']=le_income.fit_transform(data['income'])
data['student_n']=le_student.fit_transform(data['student'])
data['credit_rating_n']=le_credit_rating.fit_transform(data['credit_rating'])
data['buys_computer_n']=le_buys_computer.fit_transform(data['buys_computer'])

In [7]:
data.head()

,RID,age,income,student,credit_rating,buys_computer,age_n,income_n,student_n,credit_rating_n,buys_computer_n
0,1,youth,high,no,fair,no,2,0,0,1,0
1,2,youth,high,no,excellent,no,2,0,0,0,0
2,3,middle_aged,high,no,fair,yes,0,0,0,1,1
3,4,senior,medium,no,fair,yes,1,2,0,1,1
4,5,senior,low,yes,fair,yes,1,1,1,1,1

In [8]:
data_new=data.drop(['age','income','student','credit_rating','buys_computer'],axis='columns')

In [9]:
data_new

    RID  age_n  income_n  student_n  credit_rating_n  buys_computer_n
0     1      2         0          0                1                0
1     2      2         0          0                0                0
2     3      0         0          0                1                1
3     4      1         2          0                1                1
4     5      1         1          1                1                1
5     6      1         1          1                0                0
6     7      0         1          1                0                1
7     8      2         2          0                1                0
8     9      2         1          1                1                1
9    10      1         2          1                1                1
10   11      2         2          1                0                1
11   12      0         2          0                0                1
12   13      0         0          1                1                1
13   14      1         2          0                0                0

In [10]:
feature_cols=['age_n','income_n','student_n','credit_rating_n']
x=data_new.drop(['buys_computer_n','RID'],axis='columns') #input
y=data_new['buys_computer_n'] #target

Building Decision Tree Model

In [13]:
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()
dt=clf.fit(x,y)
dt

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [20]:
!pip install graphviz
!pip install pydotplus

Requirement already satisfied: graphviz in c:\users\shubham.chhetri\appdata\local\continuum\anaconda3\lib\site-packages (0.14)
Requirement already satisfied: pydotplus in c:\users\shubham.chhetri\appdata\local\continuum\anaconda3\lib\site-packages (2.0.2)
Requirement already satisfied: pyparsing>=2.0.1 in c:\users\shubham.chhetri\appdata\local\continuum\anaconda3\lib\site-packages (from pydotplus) (2.4.2)

In [25]:
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO
from IPython.display import Image
import pydotplus

In [26]:
dot_data=StringIO()
export_graphviz(dt,out_file=dot_data,filled=True,rounded=True,special_characters=True,feature_names=feature_cols,class_names=['0','1'])
graph=pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_png('Decision_Tree.png')

InvocationException: GraphViz's executables not found

In [23]:
Image(graph.create_png())

NameError: name 'graph' is not defined

In [27]:
from sklearn.model_selection import train_test_split

In [30]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)

Buildig Decision Tree model

In [31]:
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()
dt=clf.fit(x_train,y_train)
dt

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [32]:
from sklearn import metrics

In [33]:
y_pred=clf.predict(x_test)

In [34]:
print("accurracy",metrics.accuracy_score(y_test,y_pred))

accurracy 0.5