In [1]:
import pandas as pd
import numpy as np

In [9]:
acad=pd.read_excel('C:/Users/shubham.chhetri/Desktop/MYPROJECT/Python/chi2i.xlsx')

In [10]:
acad

   Rsp No  aa  pe  sm  ae  r  g  c
0       1  99  19   1   2  0  0  1
1       2  46  12   0   0  0  1  0
2       3  57  15   1   1  0  0  0
3       4  94  18   2   2  1  1  1
4       5  82  13   2   1  1  1  1
5       6  59  12   0   0  2  0  0
6       7  61  12   1   2  0  0  0
7       8  29   9   1   0  1  1  0
8       9  36  13   2   1  0  0  0
9      10  91  16   0   0  1  0  0

In [11]:
#cross table bw student movtivation and gender
ob=pd.pivot_table(acad[['g','sm']],index='g',columns='sm',aggfunc=len)
ob

sm  0  1  2
g
0   2  3  1
1   1  1  2

In [20]:
#perfrom chi2 to check independence
from scipy.stats import chi2_contingency

In [21]:
chi2,p,dof,tb1=chi2_contingency(ob)

In [22]:
chi2

1.3194444444444446

In [23]:
p

0.5169949242489345

In [24]:
dof

2

In [25]:
tb1

array([[1.8, 2.4, 1.8],
       [1.2, 1.6, 1.2]])