In [1]:
import scipy
from scipy.spatial import distance

Euclidean Distance

In [2]:
import numpy as np
a=[1,2,3]
b=[4,5,6]
dst=distance.euclidean(a,b)

In [3]:
dst

5.196152422706632

Minkowski Distance

In [4]:
distance.minkowski([1,0,0],[0,1,0],1) #Manhattan Distance

2.0

In [5]:
distance.minkowski([1,0,0],[0,1,0],2) #Euclidean Distance

1.4142135623730951

In [6]:
distance.minkowski([1,0,0],[0,1,0],3)

1.2599210498948732

Dissimilarity or distance matrix

In [7]:
import pandas as pd
from scipy.spatial import distance_matrix
data=[[1,4],[2,5],[3,6]]

C:\Users\shubham.chhetri\AppData\Local\Continuum\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\shubham.chhetri\AppData\Local\Continuum\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [8]:
df=pd.DataFrame(data,columns=['a','b'])
df

   a  b
0  1  4
1  2  5
2  3  6

In [9]:
pd.DataFrame(distance_matrix(df.values,df.values))

          0         1         2
0  0.000000  1.414214  2.828427
1  1.414214  0.000000  1.414214
2  2.828427  1.414214  0.000000