In [1]:
import scipy
from scipy.stats import chi2
from scipy.stats import poisson

In [2]:
import pandas as pd
import numpy as np

Checking the GOF for Poisson Distribution

In [7]:
data=pd.read_excel('C:/Users/shubham.chhetri/Desktop/MYPROJECT/Python/GOF.xlsx')

In [8]:
data

    Arrivals  Frequency
0          0          0
1          1          1
2          2          4
3          3         10
4          4         14
5          5         20
6          6         12
7          7         12
8          8          9
9          9          8
10        10          6
11        11          3
12        12          1

In [9]:
obs_freq=data['Frequency']
obs_freq

0      0
1      1
2      4
3     10
4     14
5     20
6     12
7     12
8      9
9      8
10     6
11     3
12     1
Name: Frequency, dtype: int64

In [10]:
total_arrival=600
total_time_period=100
mu=total_arrival/total_time_period

In [11]:
mu

6.0

In [13]:
Exp_Freq=[]
for i in range(len(obs_freq)):
    E_freq=100*poisson.pmf(i,mu)
    Exp_Freq.append(E_freq)

In [14]:
Exp_Freq

[0.24787521766663584,
 1.4872513059998145,
 4.461753917999444,
 8.923507835998894,
 13.385261753998332,
 16.062314104797995,
 16.06231410479801,
 13.767697804112569,
 10.32577335308442,
 6.883848902056284,
 4.130309341233764,
 2.2528960043093247,
 1.1264480021546681]

In [15]:
Exp_Freq_round_off=[round(elem,2) for  elem in Exp_Freq]

In [16]:
Exp_Freq_round_off

[0.25,
 1.49,
 4.46,
 8.92,
 13.39,
 16.06,
 16.06,
 13.77,
 10.33,
 6.88,
 4.13,
 2.25,
 1.13]

In [19]:
df=pd.DataFrame(list(zip(obs_freq,Exp_Freq_round_off)),columns=['observed Freq','Expected Freq'])

In [20]:
df

    observed Freq  Expected Freq
0               0           0.25
1               1           1.49
2               4           4.46
3              10           8.92
4              14          13.39
5              20          16.06
6              12          16.06
7              12          13.77
8               9          10.33
9               8           6.88
10              6           4.13
11              3           2.25
12              1           1.13

In [23]:
obsfreq=[5,10,14,20,12,12,9,8,10]
expfreq=[6.20,8.92,13.39,16.06,16.06,13.77,10.33,6.88,8.39]

In [24]:
scipy.stats.chisquare(obsfreq,expfreq)

Power_divergenceResult(statistic=3.2738182931105193, pvalue=0.916017731732134)

checking the GOF for uniform distribution

In [25]:
chi2.ppf(0.99,11)

24.724970311318277

In [26]:
x=[1610,1585,1649,1590,1540,1397,1410,1350,1495,1564,1602,1655]

In [27]:
np.mean(x)

1537.25

In [28]:
exp_f=[1537.25,1537.25,1537.25,1537.25,1537.25,1537.25,1537.25,1537.25,1537.25,1537.25,1537.25,1537.25]

In [29]:
from scipy.stats import chisquare

In [30]:
chisquare(x,exp_f)

Power_divergenceResult(statistic=74.37583346885673, pvalue=1.78545252783034e-11)

Checking the GOF for Normal Distribution

In [32]:
A=[33,43,44,45,52,56,58,63,64,64,65,66,68,70,72,73,74,75,83,84,85,86,91,92,94,98,102,105]

In [35]:
mean=np.mean(A)
mean

71.60714285714286

In [36]:
std=np.std(A)
std

18.50741026437458

In [39]:
x=1/6 #for 6 equal probability interval

In [40]:
for j in range(1,6):
    prob_int=[scipy.stats.norm.ppf(j*x,mean,std)]
    print(prob_int)

[53.702675034694906]
[63.63549601701577]
[71.60714285714286]
[79.57878969726995]
[89.5116106795908]

In [41]:
exp_freq=[5,5,5,5,5,5]
obs_freq=[6,3,6,5,4,6]

In [42]:
scipy.stats.chisquare(obs_freq,exp_freq)

Power_divergenceResult(statistic=1.5999999999999999, pvalue=0.9012493445012737)