In [1]:
import pandas as pd
import numpy as np
import math
from scipy import stats
import scipy
import statsmodels.api as sm
from statsmodels.formula.api import ols
import matplotlib.pyplot as plt

In [2]:
df=pd.read_excel('C:/Users/shubham.chhetri/Desktop/MYPROJECT/Python/RBD.xlsx')

In [3]:
df

   sysA  sysB  sysC
0    15    15    18
1    14    14    14
2    10    11    15
3    13    12    17
4    16    13    16
5    13    13    13

In [4]:
newdf=pd.melt(df.reset_index(),id_vars=['index'],value_vars=['sysA','sysB','sysC'])
newdf.columns=['block','treat','value']

In [5]:
model=ols('value ~C(block) + C(treat)',data=newdf).fit()
anova_tb=sm.stats.anova_lm(model,typ=1)
anova_tb

            df  sum_sq  mean_sq         F    PR(>F)
C(block)   5.0    30.0      6.0  3.157895  0.057399
C(treat)   2.0    21.0     10.5  5.526316  0.024181
Residual  10.0    19.0      1.9       NaN       NaN