In [6]:
import pandas as pd
import numpy as np
import math
from scipy import stats
import scipy
import statsmodels.api as sm
from statsmodels.formula.api import ols
import matplotlib.pyplot as plt

In [7]:
df=pd.read_excel('C:/Users/shubham.chhetri/Desktop/MYPROJECT/Python/2way.xlsx')

In [11]:
df.columns=['value','pgm','college']

In [12]:
model=ols('value ~ C(pgm)+C(college)+C(college):C(pgm)',data=df).fit()

In [13]:
anova_tb=sm.stats.anova_lm(model,typ=2)

In [14]:
anova_tb

                    sum_sq   df          F    PR(>F)
C(pgm)              6100.0  2.0   1.382872  0.299436
C(college)         45300.0  2.0  10.269521  0.004757
C(college):C(pgm)  11200.0  4.0   1.269521  0.350328
Residual           19850.0  9.0        NaN       NaN